<%= render "layouts/banner", header: "Checkout the movie lists" %>

<div class="container">
  <% @lists.each do |list| %>
    <div class="card">
        <%= list.name %>
    </div>
  <% end %>
</div>
